@model Domain.Models.Movie

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row justify-content-md-center">
        <h1 class="text-center mt-4">Atualizar Informações do Filme</h1>
        <div class="card border-dark mb-5 shadow-sm rounded" style="max-width: 50rem;">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group mt-2 mb-2">
                            <label asp-for="Name" class="mb-1"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group mt-2 mb-2">
                            <label asp-for="FilmStudio" class="mb-1"></label>
                            <input asp-for="FilmStudio" class="form-control" />
                            <span asp-validation-for="FilmStudio" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group mt-2 mb-2">
                            <label asp-for="ReleaseDate" class="mb-1"></label>
                            <input asp-for="ReleaseDate" class="form-control" />
                            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group mt-2 mb-2">
                            <label asp-for="BoxOffice" class="mb-1"></label>
                            <input asp-for="BoxOffice" class="form-control" />
                            <span asp-validation-for="BoxOffice" class="text-danger"></span>
                        </div>
                        <br />
                        <br />
                        <div class="form-group mb-3">
                            <input type="submit" value="Salvar" class="btn btn-outline-primary" />
                            <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>
</div>


