@model Domain.Models.Review

@{
    ViewData["Title"] = "Create";
}


<div class="container">
    <div class="row justify-content-md-center">
        <h1 class="text-center mt-4">Adicionar uma Nova Avaliação</h1>
        <div class="card border-dark mb-5 shadow-sm rounded" style="max-width: 50rem;">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mt-2 mb-2">
                            <label asp-for="TextReview" class="mb-1"></label>
                            <textarea asp-for="TextReview" class="form-control"  placeholder="Escreva a sua avaliação"></textarea>
                            <span asp-validation-for="TextReview" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group mt-2 mb-2">
                            <label asp-for="Score" class="mb-1"></label>
                            <input asp-for="Score" class="form-control" placeholder="Escolha a sua nota"/>
                            <span asp-validation-for="Score" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group mt-2 mb-2">
                            <label asp-for="ReviewDate" class="mb-1"></label>
                            <input asp-for="ReviewDate" class="form-control" />
                            <span asp-validation-for="ReviewDate" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group mt-2 mb-2">
                            <label asp-for="MovieId" class="mb-1"></label>
                            <select asp-for="MovieId" class ="form-control" asp-items="ViewBag.MovieId">
                                <option value="">Selecione um Filme</option>
                            </select>
                        </div>
                        <br />
                        <br />
                        <div class="form-group mb-3">
                            <input type="submit" value="Salvar" class="btn btn-outline-primary" />
                            <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
