@model Domain.Model.Entities.MovieEntity

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row justify-content-md-center">
        <h1 class="text-center mt-4 text-white">Adicionar um Novo Filme</h1>
        <div class="card border-dark mb-5 shadow-sm rounded" style="max-width: 50rem;">
            <div class="row">
                <div class="col-md-4">
                    <form method="post" asp-action="Create"  enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mt-2 mb-2">
                            <label asp-for="Name" class="mb-1"></label>
                            <input asp-for="Name" class="form-control" placeholder="Digite o Nome do Filme"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <br />
                       <div class="form-group mt-2 mb-2">
                            <label asp-for="FilmStudio" class="mb-1"></label>
                            <input asp-for="FilmStudio" class="form-control" placeholder="Digite o nome do Estúdio"/>
                            <span asp-validation-for="FilmStudio" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group mt-2 mb-2">
                            <label asp-for="ReleaseDate" class="mb-1"></label>
                            <input asp-for="ReleaseDate" class="form-control" />
                            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group mt-2 mb-2">
                            <label asp-for="BoxOffice" class="mb-1"></label>
                            <input asp-for="BoxOffice" class="form-control" placeholder="Digite a Bilheteria R$"/>
                            <span asp-validation-for="BoxOffice" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group mt-2 mb-2">
                            <label asp-for="VideoUrl" class="mb-1"></label>
                            <input asp-for="VideoUrl" class="form-control" placeholder="Digite a URL do Trailer"/>
                            <span asp-validation-for="VideoUrl" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group mt-2 mb-2">
                           <input type="file" name="Image" id="img" style="display:none;"/>
                           <label for="img" class="text-info">Clique para selecionar a Imagem</label>
                        </div>
                        <br />
                        <br />
                        <div class="form-group mb-3">
                            <input type="submit" value="Salvar" class="btn btn-outline-primary" />
                            <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>
</div>