@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row justify-content-md-center mt-4">
    <div class="row gy-1">
      <div class="col">
        <div class="card shadow text-white bg-dark mb-3">
          <div class="card-body">
            <h1 class="card-title text-center">Mauricio Magnani</h1>
            <p class="card-text text-center">mauricio.djunior@al.infnet.edu.br</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row gy-3">
      <div class="col">
        <div class="card shadow h-100">
          <div class="card-body">
            <h5 class="card-title">SaaS - Software as a Service</h5>
            <p class="card-text">SaaS stands for software as a service, which means software is hosted by a third-party provider and delivered to customers over the internet as a service.</p>
            <a href="#" class="link-secondary">https://en.wikipedia.org/wiki/Software_as_a_service</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow h-100">
          <div class="card-body">
            <h5 class="card-title">PaaS - Platform as a Service</h5>
            <p class="card-text">Platform as a service is a complete development and deployment environment in the cloud, with resources that enable you to deliver everything from simple cloud-based apps to sophisticated, cloud-enabled enterprise applications..</p>
            <a href="#" class="link-secondary">https://en.wikipedia.org/wiki/Platform_as_a_service</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow h-100">
          <div class="card-body">
            <h5 class="card-title">IaaS - Infrastructure as a service</h5>
            <p class="card-text">Infrastructure as a Service is a form of cloud computing that delivers fundamental compute, network, and storage resources to consumers on-demand, over the internet, and on a pay-as-you-go basis.</p>
            <a href="#" class="link-secondary">https://en.wikipedia.org/wiki/Infrastructure_as_a_service</a>
          </div>
        </div>
      </div>
    </div>
</div>